/*!
* Design by: 
* URI: 
* Year: 2020
* Coder: Chris
*
* timestamp: 25th - 01 - 2020
*/

/*!
* Normalize
*/
html{line-height: 1.15;-webkit-text-size-adjust: 100%;}body{margin: 0;}h1{font-size: 2em;margin: 0.67em 0;}hr{box-sizing: content-box;height: 0;overflow: visible;}pre{font-family: monospace, monospace;font-size: 1em;}a{background-color: transparent;}abbr[title]{border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}b,strong{font-weight: bolder;}code,kbd,samp{font-family: monospace, monospace;font-size: 1em;}small{font-size: 80%;}sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}sub{bottom: -0.25em;}sup{top: -0.5em;}img{border-style: none;}button,input,optgroup,select,textarea{font-family: inherit;font-size: 100%;line-height: 1.15;margin: 0;}button,input{overflow: visible;}button,select{text-transform: none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style: none;padding: 0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline: 1px dotted ButtonText;}fieldset{padding: 0.35em 0.75em 0.625em;}legend{box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}progress{vertical-align: baseline;}textarea{overflow: auto;}[type="checkbox"],[type="radio"]{box-sizing: border-box;padding: 0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height: auto;}[type="search"]{-webkit-appearance: textfield;outline-offset: -2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}::-webkit-file-upload-button{-webkit-appearance: button;font: inherit;}details{display: block;}summary{display: list-item;}template{display: none;}[hidden]{display: none;}


/*! ==========================================================================
   CUSTOM CSS BEGINNING
*/

/* ==========================================================================
   Old alert
   ========================================================================== */
div.alert-old {
   text-align: center;
   padding: 25px;
   font-size: 20px;
   color: #777;
   background-color: black;
   color: #f0f0f0;
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   z-index: 9999999;
}
div.alert-old a {
   color: white;
   text-decoration: underline;
   font-weight: bold;
}
div.alert-old a:hover {
   color: orange;
}



/* ==========================================================================
   General CSS
   ========================================================================== */
html,
body {
   cursor: default;
   font-family: 'Roboto', sans-serif;
}
::selection {
   background: #0054ff;
   color: white;
}
::-webkit-selection {
   background: #0054ff;
   color: white;
}
::-khtml-selection {
   background: #0054ff;
   color: white;
}
::-moz-selection {
   background: #0054ff;
   color: white;
}
::-wap-selection {
   background: #0054ff;
   color: white;
}
::-ms-selection {
   background: #0054ff;
   color: white;
}
::-o-selection {
   background: #0054ff;
   color: white;
}
.wrapper {
   display: block;
   margin: 0 auto;
   width: 90%;
}
.inl {
   display: inline-block;
   vertical-align: top;
   * display: inline;
   zoom: 1;
}
a,
input,
button,
select,
textarea {
   border: none;
   outline: none;
   background-color: transparent;
}
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=search],
select,
textarea {
   box-sizing: border-box;
   appearance: none;
}



/* ==========================================================================
   CSS Beginning
   ========================================================================== */



/* ==========================================================================
   Responsive CSS
   ========================================================================== */
@media screen and (max-width: 1224px) {
.wrapper {
   
}
}



@media screen and (max-width: 1024px) {
.wrapper {
   
}
}



/*
   770 Px
   ========================================================================== */
@media screen and (max-width: 770px) {
.wrapper {
   
}
}



/*
   600 Px
   ========================================================================== */
@media screen and (max-width: 600px) {
.wrapper {
   
}
}



/*
   420 Px
   ========================================================================== */
@media screen and (max-width: 420px) {
.wrapper {
   
}
}
